/* Chatbot CSS */

.chat-container {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 90%;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure the chatbox appears on top of other content */
    height:90%;
}
/* Media query for mobile devices */
@media (max-width: 767px) {
    .chat-container {
        width: calc(100% - 60px); /* Adjust width to fit the screen width */
        margin-left: 20px; /* Add margin to maintain space from left edge */
        margin-right: 20px; /* Add margin to maintain space from right edge */
        left: 0; /* Reset left positioning */
        transform: none; /* Remove any previous transform */
    }
}

.chat-title {
    background-color: #03748C; /* Purple color */
    color: #fff; /* White text color */
    padding: 10px;
    text-align: center;
    font-size: 18px; /* Adjust font size as needed */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */
}



.chat-box {
    height: 75%;
    padding: 10px;
    overflow-y: auto;
    background-color: whitesmoke; /* Set background color of chatbox */
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */
    background-color: white;
    border-radius: 4px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding to increase space inside the message container */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow for a modern border effect */
}



.avatar {
    background-color: #ccc;
    color: #fff;
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */

}



.assistant-message .avatar {
    background-color: #03748C;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */

}

.user-message .avatar {
    background-color: #999;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */

}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: calc(100% - 50px); /* Adjust the width as needed */
    word-wrap: break-word; /* Allow long words to wrap */
    overflow-wrap: break-word; /* Ensure words break at appropriate points */
    font-size:15px;
}


.message-title {
    font-weight: bold;
}

.message-text {
    margin-top: 5px;
    max-width: 100%; /* Ensure the message text doesn't overflow */
}


.input-container {
    display: flex;
    padding: 10px;
    background-color: whitesmoke;
}

#messageInput {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allows users to resize the height, but not the width */
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    resize: none; /* Disable resizing */


}

#sendButton {
    background-color: #FFAB5E;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px; /* Adjust the border radius to make the button more rounded */
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */

}
.user-message .avatar,
.assistant-message .avatar {
    width: 45px; /* Fixed width */
    height: 40px; /* Fixed height */
}

   /* Custom styles for the powered by text */
   .powered-by-text {
    font-size: 15px;
    background-color: whitesmoke;
    color: #888;
    text-align: center;
    font-family: 'Open Sans', sans-serif; /* Add Open Sans font */

}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #03748C;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    animation: fadeIn 1s forwards, pulse 2s infinite 1s; /* Chain fade-in and pulse animations */
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    align-content:center;
    
}

.chat-icon i {
    position: relative;
    top: 1px; /* Adjust vertically */
    left: 1px; /* Adjust horizontally */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}



.chat-visible {
    display: block !important;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor:grab;
    color: #fff; /* White color for the X */
    font-size: 23px;
    padding: 10px; /* Increase padding for larger clickable area */
    z-index: 999; /* Ensure the close button is on top of other content */
}

/* Hover effect */
.close-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Add a semi-transparent white background on hover */
    border-radius: 50%; /* Optional: Apply rounded corners for a button-like appearance */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes typingDots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
}

/* Apply the typingDots animation to the loading message container */
.loading-message:after {
    content: "";
    animation: typingDots 1s infinite; /* Apply the typingDots animation */
    display: inline-block;
    vertical-align: middle;
}


.message-text pre {
    font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
    font-size:15px;
    white-space: pre-wrap; /* Preserve whitespace but wrap long lines */
    margin: 0; /* Remove default margins from pre tag */
}

/* Tooltip container */
#tooltip-container {
    position: relative;
}

/* Tooltip */
.tooltip {
    position: absolute;
    top: 33px; /* Adjust position as needed */
    right: 5px; /* Adjust position as needed */
    background-color: whitesmoke; /* Adjust background color and opacity */
    color: #03748C;
    padding: 15px;
    border-radius: 15px;
    display: none; /* Initially hide the tooltip */
    z-index: 999; /* Ensure tooltip is on top of other content */
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);

}

/* Tooltip text */
.tooltip-text {
    margin-right: 10px;
}

/* Tooltip close button */
.tooltip-close {

    cursor: pointer;
    font-size: 33px;
    padding: 11px;
}

.tooltip-close:hover {
    color: #FFAB5E; /* Adjust close button color on hover */
}
